/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --secondary-bg: #F8F4F1;
}

body {
    background-color: var(--secondary-bg);
}

/* All Paragraphs */
p {
    font-family: 'Inter', sans-serif;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*--------------------------------------------------------------
# Personal Card
--------------------------------------------------------------*/

.personal-card {
    width: 90vw;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
}

/* Personal Card Name Title */
.personal-card h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    margin-top: -1rem;
    margin-left: 1rem;
}

.personal-card h1::before {
    content: '';
    display: block;
    background-color: #F7C117;
    width: 4px;
    height: 25px;
    margin-right: .5rem;
}

.personal-card h1::after {
    content: '';
    display: block;
    background-color: #F7C117;
    width: 4px;
    height: 25px;
    margin-left: .5rem;
}

/* Personal Card Article */
.personal-card article {
    padding: 1rem 2rem;
}

/* Personal Card Wave Icon */
.personal-card span {
    font-size: 1.75rem;
    animation: waveRotate 3s infinite;
    display: inline-block;
    margin-right: .5rem;
}

/* Personal Card Wave Icon Animation */
@keyframes waveRotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }
}

/* Personal Card Paragraphs */
.personal-card p {
    margin-bottom: 1rem;
}

/*--------------------------------------------------------------
# Sidebar Social Icons
--------------------------------------------------------------*/
aside {
    background-color: #F7C117;
    display: flex;
    padding: 0 2rem;
}

aside img {
    width: 1.6rem;
    height: auto;
    transition: all 200ms;
    margin: .25rem 1rem 0 0;
}

aside img:hover {
    transform: skewX(10deg) skewY(10deg);
}

/*--------------------------------------------------------------
# Media Query's
--------------------------------------------------------------*/

@media (min-width: 30rem) {
    .personal-card {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    aside {
        padding: .75rem .75rem;
        flex-direction: column;
    }

    aside img {
        margin: 0 0 1rem 0;
    }
}

@media (min-width: 48rem) {
    .personal-card {
        width: 50vw;
        height: auto;
    }
}